.cycle-slideshow {
    width: 100%;

    img {
        width: 10em;
        height: auto;
        margin: .5em;
    }
}

.custom-pager {
    float: left;

    span {
        color: rgba(0, 0, 0, .5);
        font-size: 3em;
        cursor: pointer;
        margin: .25em;

        &:hover {
            color: rgba(0, 0, 0, .8);
        }

        &.cycle-pager-active {
            color: rgba(0, 0, 0, 1);
        }
    }
}

.controls {
    text-align: right;
    padding: 1em;

    a {
        margin: 1em;
    }
}
